
html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.container{
    margin: 0%;
    padding: 0%;
}

.container::before{
    content: "";
    background-image: url("../background4.webp");
    background-size: cover;
    overflow: hidden;
    top: 8vh;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

#content,#typing{
    height: 40vh;
    width: 58vw;
    font-size: large;
    font-weight: bolder;
}

table,tr,td{
    border: solid black 2px;   
}

.container1{
    height: 8vh;
    width: 100vw;
    text-align: right;
    margin:0%;
    background-color: rgb(5, 88, 88);
    position: relative;
}

.dropdown{
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-right: 3vw;
    display: inline;
}

.i1{
    z-index: 1;
    width: 3.2vw;
    top: 0;
    left: 0;
    border-radius: 50%;
    display: inline;
    position: absolute;
    margin-left: 4vw;
    margin-top: 0.7vh;
}

.title{
    height: 6vh;
    width: 15vw;
    display: inline-block;
    margin-right: 43vw;
}

.tle{
    font-size: 160%;
    margin: 4%;
    font-weight: bolder;
    color: white;
}

.lanbtn3{
    margin-right: 5vw;
}

.container2{
    height: 80vh;
    width: 62vw;  
    margin: 2vw;
    border-radius: 5%;
    display:block;
    box-shadow: 8px 8px 12px rgb(117, 134, 231);
}


.container2::before{
    content: "";
    background-image: url("../clock_icon.jpg");
    background-size: cover;
    overflow: hidden;
    top: 12.5vh;
    left: 2.5vw;
    bottom: 8vh;
    right: 35vw;
    position: absolute;
    border-radius: 4%;
    box-shadow: 8px 8px 12px rgb(117, 134, 233);
    opacity: 0.7;
}

#content{
    height: 30vh;
    width: 45vw;
    border-style: double;
    border-radius: 5%;
    margin: 2rem;
    margin-left: 6vw;
    background-color: rgb(248, 248, 234);
    box-shadow: 0px 0px 3px 3px rgb(118, 131, 206);
    position: relative;
}

.type{
    height: 68%;
    width: 62%;
}

#typing{
    height: 18vh;
    width: 45vw;
    border-radius: 3%;
    margin: 1rem;
    margin-left: 6vw;
    position: relative;
    z-index: 1;
}

#header{
    margin-left: 18vw;
    display:inline-block;
    margin-top: 2vh;
    position: relative;
}

#time, #speed{
    height: 5vh;
    width: 10vw;
    border-radius: 10%;
    margin-left: 2rem;
    color: brown;
    font-weight: bold;
    position: relative;
}

table{
    background-image: linear-gradient(to bottom right, rgb(163, 248, 220),  rgb(248, 250, 249));
}

.container3{
    height: 78.5vh;
    width: 28vw;
    background-image: linear-gradient(to bottom right, rgb(107, 26, 107),  rgb(240, 181, 231));
    margin-left: 68vw;
    margin-top: -83vh;
    border-radius: 2%;
    display:block;
    position: relative;
}

h2{
    margin-left: 10vw;
}

.score1, .score2, .score3{
    margin: 7%;
    margin-left: 2vw;   
}

.result{
    width: 12vw;
    border-radius: 40%;
    background-color: rgb(223, 104, 124);
    margin-left: 8vw;  
}

.rt{
    color: white;
    margin-left: 3vw;
    margin-top: 4vh;
}

.s1{
    color: rgb(10, 233, 29);
    font-size: 130%;
}

.score4{
    width: 12vw;
    height: 4vh;
    background-color: blueviolet;
    margin-left: 7.7vw;
    border-radius: 30%;
}

.s2{
    margin-left: 1vw;
    margin-top: 5vh;
    color: white;
}

.score5{
    width: 22vw;
    background-color: aquamarine;
    border-color: blue;
    border-radius: 10%;
    margin-left: 3vw;
}

.s3{
    margin-left: 1vw;
    font-size: 100%;
}


#dropdown_menu{
    display: none;
}

.dropdown:hover #dropdown_menu{
    width: 14vw;
    height: 9.5vh;
    display: block;
    position: absolute;
    background-color: rgb(5, 88, 88);
    margin-top: -0.3vh;
    margin-left: 62vw;
    z-index: 1;
}

#dropdown_menu ul{
   display: block;
}

.list1{
    display: block;
    width: 9vw;
}

#dropdown_menu2{
    display: none;
}

.dropdown:hover #dropdown_menu2{
    width: 14.6vw;
    height: 16.3vh;
    display: block;
    position: absolute;
    background-color: rgb(5, 88, 88);
    margin-top: -0.3vh;
    margin-left: 72vw;
    z-index: 1;
}

#dropdown_menu2 ul{
    display: block;
 }

.list2{
    display: block;
    width: 9vw;
}

#dropdown_menu3{
    display: none;
}

.dropdown:hover #dropdown_menu3{
    width: 14vw;
    height: 13vh;
    display: block;
    position: absolute;
    background-color: rgb(5, 88, 88);
    margin-top: -0.3vh;
    margin-left: 81.5vw;
    z-index: 1;
}

#dropdown_menu3 ul{
    display: block;
 }

.list3{
    display: block;
    width: 9vw;
}




